---
import Layout from '../layouts/Layout.astro';


---

<Layout title="Luma Skatepark Coalition">
	<main>
		
		<div class='header'>
			<h1 >Petaluma Skatepark Coalition</h1>
		</div>
	
		<!--
			<section class='message' id='message'>
			<span class='content'>
				<p >A coalition of skateboarders and supporters dedicated to revitalize and build new skateparks in Petaluma. </p>
				</span>
		</section>
		 -->
		<!--
			<section class='bowl' id='bowl'>
			
			<h1>We Need A New Skatepark!</h1>
		
			
			
		</section>
		 -->

		 <section class='newAnnounce' id='newAnnounce'>
			<div class='content'>
				<a href='/posts/weneedyou'>
					<h4>We Need You To Show Up!!!!</h4>
				</a>
			
			<p >Petaluma City Hall 6:30pm this Monday April 3, 2023.</p>
			<p class='small'><a href='/posts/weneedyou'>Participate in-person or online. </a></p>
			
			<p class='small'> <a href='/posts/weneedyou'>Read More Here</a></p>

						</div>
		</section>

		<section class='aboveFold' id='form'>
			<div class='insta'>
				<p><a href='https://www.instagram.com/lumaskateparkcoalition/'>
					<iconify-icon block icon="skill-icons:instagram" width="70%" flip="horizontal,vertical"></iconify-icon>	</a>
				</p>
				
					<p>Show Your Support<br /> Follow Us On Instagram!</p>
			</div>
	
				<div class='form-wrapper'>
					<h3>Join the Coalition!</h3>
						
						<p>Join our mailing list for updates & add your name to the list of supporters who believe Petaluma deserves world-class skate facilites.  </p>
						
					<form  action="https://api.staticforms.xyz/submit" method="post">
					<input type="text" name="name" placeholder="Name" required>
					<input type="text" name="email" placeholder="Email" required/>
					<input type="text" name="honeypot" style="display:none">
					<input type="hidden" name="accessKey" value="3a0ae715-4a50-4998-b304-0502c1dffebf">
					<input type="hidden" name="subject" value="Contact us from - Luma Skatepark Coalition" />
					<input type="hidden" name="replyTo" value="@">
					<input type="hidden" name="redirectTo" value="https://luma-skate-park.netlify.app/success/">
					<input type="submit" value="Sign Me Up!" />
					</form>
				</div>
			
		</section>
		
		
		
		
		

		<section class='belowFold' id='belowFold'>

			<h2>
				Estimated Completion:  
				<strike style='color:red; 
				transform: rotate(70deg);
				-ms-transform: rotate(-10deg);	 /*  for IE  */
				/* 	for browsers supporting webkit (such as chrome, firefox, safari etc.). */
				-webkit-transform: rotate(-10deg);
				display: inline-block;)'>
				<span style='color:#fff;'>&nbsp; Summer 2023 &nbsp;</span>
				</strike>??

			</h2>
			
		</section>
		<section class='announce' id='announce'>
			<div>
				
			<card>
				<p>Learn about the <a href='https://cityofpetaluma.org/skate-park-design/' target="_blank">New Skatepark Project</a> at cityofpetaluma.org.</p>

				<p>Read the GrindLine Skateparks  <a href="https://storage.googleapis.com/proudcity/petalumaca/uploads/2023/01/Online-Survey-Results.pdf" target="_blank">online survey results</a>. </p>
			<p>Read the City of Petaluma  <a href="https://storage.googleapis.com/proudcity/petalumaca/uploads/2023/01/Community-Workshop-1-Survey-Results.pdf" target="_blank">hardcopy survey results</a>. </p>
			</card>
			</div>
		</section>

		<section class='credit' id='credit'>
			
			<p>photos of  AIDEN SHARKEY by <a href='https://www.petaluma360.com/crissy-pascual/' target="_blank">CRISSY PASCUAL/ARGUS-COURIER</a> STAFF</p>
			
			
		</section>
		
		
	
		
	</main>
</Layout>

<style>
	

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

.newAnnounce a {
	color: var(--skate-accent-color);
}
.newAnnounce a:hover {
	color: var(--main-font-color);

}

.small{
	margin-top:16px;
	text-align: center;
	font-size: small;
}
</style>
<script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
