---
import Layout from '../layouts/BSLayout.astro';

import Sharkey from '../images/aiden-sharkey.jpeg';
import Minna from '../images/minna-stess.jpeg';
import Chicken from '../images/chicken.svg';
---

<Layout title="Luma Skatepark Coalition">
	<main>
		<div class='header'>
			<h1 class='header-link'><a href='../index.html'>Luma Skatepark Coalition</a></h1>
			
		</div>
		<section class='success' id='success'>
			<div class='content'>
			<h3>Thank you for signing up!</h3>
			<p>We'll do our best to keep you informed about the decisions made by the city and the Parks and Recreation Department, and inform you of any opportunity to participate.</p>

			<p>Thank You, <br />
			
		<span class='text-accent'>Luma Skatepark Coalition</span></p>
	</div>

	<div>
		<h2><a href='../index.html'>Home</a></h2>
	</div>
	</section>

	<style>
		.header-link a:link{
      color: #fff !important;
    }

	.header-link a:visited{
      color: #fff !important;
    }

	.header-link a:hover{
		color:#F2C400;
	}
	</style>