---
import Layout from '../layouts/Layout.astro';

import Sharkey from '../images/aiden-sharkey.jpeg';
import Minna from '../images/minna-stess.jpeg';
import Chicken from '../images/chicken.svg';
---

<Layout title="Luma Skatepark Coalition">
	<main>
		<div class='header'>
			<h1 >Luma Skatepark Coalition</h1>
			
		</div>
		<div class='aboveFold'>
			<h2>Success!</h2>
			<p>Thank you for your support</p>
		</div>
		<div><h2><a href='https://luma-skate-park.netlify.app/'>Home</a></h2></div>