---
import Layout from '../layouts/Layout.astro';

import Sharkey from '../images/aiden-sharkey.jpeg';
import Minna from '../images/minna-stess.jpeg';
import Chicken from '../images/chicken.svg';
---

<Layout title="Luma Skatepark Coalition">
	<main>
		<div class='header'>
			<h1 class='header-link'>
				<a href='../index.html'>Luma Skatepark Coalition</a>
			</h1>
			
		</div>
		<section class='success' id='success'>
			<h3>Thank's for signing up!</h3>
			<p>You are now part of the coalition.  We will push out updates made by  Parks & Rec. and info how to participate. </p>

			<p>Thank You, <br />
			
		<span class='text-accent'>Luma Skatepark Coalition</span></p>

	<div>
		<h2><a href='../index.html'>Home</a></h2>
	</div>
	</section>

	<style>
		.header-link a:link{
			font-size: 1em;
      color: #fff !important;
    }

	.header-link a:visited{
      color: #fff !important;
    }

	.header-link a:hover{
		color:#F2C400;
	}
	</style>