---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header class='header'>
	<h1>
		<a href='../../index.html'>
		{SITE_TITLE}
	</a>
	</h1>
	
</header>
<nav>
 <HeaderLink href="/blog/">Blog </HeaderLink>
</nav>
<style>
	header {
		margin: 0em 0 2em;
		background-color:var( --form-accent-color:#F2C400;);
		padding: 1em;
		color:#fff;
	}

	.header a:link{
		color:#000;
	}
	.header a:visited{
		color:#fff;
	}
	header nav a{
		color:#000;
	}

	

	header nav a:visited{
		color:#fff;
	}
	h2 {
		text-align: center;
		margin: 0.5em 0;
		color:#fff;

	}
	nav{
		text-align: center;
		font-size: 24px;
	}
</style>
